<nav>
    <a class="text-blue-500 underline" href={{route('home')}}>Home</a>
    <a class="text-blue-500 underline" href="{{route("movies.show", {slug: "minions"})}}">Minions</a>
    <a class="text-blue-500 underline" href="{{route("movies.show", {slug: "theBoys"})}}">The boys</a>
  </nav>